<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title><%= index_data[0].title %></title>
  <meta name="keywords" content="<%= index_data[0].keywords %>">
  <meta name="description" content="<%= index_data[0].description %>">
  <link rel="stylesheet" href="/plugin/normalize-8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_847183_zkr9rivaov.css">
  <link rel="stylesheet" href="/plugin/swiper-4.4.1/css/swiper.min.css">
  <link rel="stylesheet" href="/css/common/reset.css">
  <link rel="stylesheet" href="/css/index/index.css">
</head>
<body>
  <!-- header头部 start -->
<%- include('./common/header', { data: 0}); %>
  <!-- header头部 end -->
  <!-- banner轮播图 start -->
<%- include('./common/banner', { data: index_data}); %>
  <!-- banner轮播图 end -->
  <!-- products_slide商品小图 start -->
  <ul class="products_slide container">
    <% for (let i = 0; i < index_data[0].products_slide.count; i++) { %>
    <li>
      <a href="<%= index_data[0].products_slide.list[i].url %>">
        <img src="<%= index_data[0].products_slide.list[i].img %>" alt="iphoneX">
        <p><%= index_data[0].products_slide.list[i].title %></p>
      </a>
    </li>
    <% } %>
  </ul>
  <!-- products_slide商品小图 end -->
  <!-- products_map商品大图 start -->
  <ul class="products_map clearfix">
    <% for (let i = 0; i < index_data[0].products_map.count; i++) { %>
    <li>
      <a href="<%= index_data[0].products_map.list[i].url %>">
        <div class="text">
          <h3>
            <%= index_data[0].products_map.list[i].title %>
            <small><%= index_data[0].products_map.list[i].description %></small>
          </h3>
          <button class="shop">Shop now</button>
        </div>
        <img src="<%= index_data[0].products_map.list[i].img %>" alt="">
      </a>
    </li>
    <% } %>
  </ul>
  <!-- products_map商品大图 end -->
  <!-- products_list商品四格列表 start -->
  <div class="products_list container">
    <h2>
      Best Sellers
      <small>Browse our most popular products</small>
    </h2>
    <ul>
      <% for (let i = 0; i < index_data[0].products_list.count; i++) { %>
      <li>
        <a href="<%= index_data[0].products_list.list[i].url %>">
          <img src="<%= index_data[0].products_list.list[i].img %>" alt="">
          <p><%= index_data[0].products_list.list[i].description %></p>
        </a>
      </li>
      <% } %>
    </ul>
    <div class="more">
      <a href="/">more</a>
    </div>
  </div>
  <!-- products_list商品四格列表 end -->
  <script src="/plugin/jquery.min.js"></script>
  <script src="/plugin/swiper-4.4.1/js/swiper.min.js"></script>
  <script src="/js/index/index.js"></script>
</body>
</html>