<div class="classify">
  <div class="classify_info">
    <fieldset>
      <legend>商品分类页面SEO设置</legend>
        <input type="text" class="title" value="<%= data.title %>">
        <input type="text" class="keywords" value="<%= data.keywords %>">
        <input type="text" class="description" value="<%= data.description %>">
        <button class="save">保存</button>
    </fieldset>
  </div>
  <div class="classify_banner">
    <fieldset>
      <legend>商品分类轮播图设置</legend>
      <% for (let i = 0; i < data.banner.list.length; i++) { %>
        <p>
          <img src="<%= data.banner.list[i].img %>" alt="" class="img">
          <input type="text" class="url" value="<%= data.banner.list[i].url %>">
          <input type="file" class="file" accept="image/gif, image/jpeg, image/png">
          <input type="text" readonly class="id" value="<%= data.banner.list[i].id %>">
          <button class="save">保存</button>
          <button class="delete">删除</button>
        </p>
      <% } %>
      <button class="addBanner">添加轮播图</button>
    </fieldset>
  </div>
  <div class="classify_list">
    <fieldset>
      <legend>商品分类设置</legend>
      <% for (let i = 0; i < data.classify.list.length; i++) { %>
        <p>
          <img src="<%= data.classify.list[i].img %>" alt="" class="img">
          <input type="text" class="title" value="<%= data.classify.list[i].title %>">
          <input type="file" class="file" accept="image/gif, image/jpeg, image/png">
          <input type="text" readonly class="id" value="<%= data.classify.list[i].id %>">
          <button class="save">保存</button>
          <button class="delete">删除</button>
        </p>
      <% } %>
      <button class="addClassify">添加分类</button>
    </fieldset>
  </div>
</div>